<html>
	<head>
		<style>
			.fsize{font-size: 20px;}
			.f_font{font-family: Calibri, Candara, Segoe, Optima, Arial, sans-serif;}
			.tar{text-align: right;}
		    .brs{border-right: hidden;}
		    .tac{text-align: center;}
		    .font_size{font-size: 14px;}
		    .sign{padding-left: 50px;}
		</style>
	</head>
	<body>
		<div class="row">
			<table width="100%">
				<tr>
					{% if doc.amended_from %}
					   	<td align="center" class="fsize"><b> Revised Quotation</b></td>
					{% else %}
					     <td align="center" class="fsize"><b>SALES ORDER</b></td>
					{% endif %}
				</tr>
			</table>
		</div>
		<br><br>
		<div class="container-fluid">
 
    {% set caddress_line1 = frappe.db.get_value("Address", doc.company_address, "address_line1") %}
          {% set caddress_line2 = frappe.db.get_value("Address", doc.company_address, "address_line2") %}
          {% set ccity = frappe.db.get_value("Address",doc.company_address, "city") %}
          {% set cpincode = frappe.db.get_value("Address", doc.company_address, "pincode") %}
          {% set cstate = frappe.db.get_value("Address", doc.company_address, "state") %}
          {% set ccountry = frappe.db.get_value("Address", doc.company_address, "country") %}
          {% set cgstin = frappe.db.get_value("Address", doc.company_address, "gstin") %}
          {% set cgst_state = frappe.db.get_value("Address", doc.company_address, "gst_state") %}
          {% set cgst_state_no = frappe.db.get_value("Address", doc.company_address, "gst_state_number") %}
          {% set cemail = frappe.db.get_value("Address", doc.company_address, "email_id") %}
      
      
      {%set dn_no = frappe.db.get_value("Sales Invoice Item",{'parent':doc.name }, "delivery_note")%}
      {%set dn_date = frappe.db.get_value("Delivery Note",{'name': dn_no }, "posting_date")%}
      <table border="1px" bordercolor="#a9a9a9" style="table-layout: fixed;" width="100%">
    <tbody><tr><td colspan="3" rowspan="3"><b>{{doc.company}}</b><br>{{caddress_line1}}<br>{{caddress_line2}}<br>GSTIN/UIN : {{cgstin}}<br>State Name : {{cstate}} <br>Email : {{cemail or ''}}<br></td>
    	<!-- <td colspan="1" class="brs"><b> &nbsp; </b></td> -->
      <td>Voucher No. : <br><b>{{doc.name}}</b></td>
      <td>Dated : <br><b>{{ frappe.utils.formatdate(doc.transaction_date, "dd-mm-yyyy") }}<b></b></b></td>
    </tr>
    {% set number_dn = [] %}
        {% for item in doc.items %}
          {% if item.delivery_note not in number_dn %}
                {{ number_dn.append(item.delivery_note) or '' }}
            {% endif %}
        {% endfor %}
        {% set dn_no = frappe.db.get_value("Delivery Note Item",{'against_sales_order':doc.name},'parent')%}
    <tr><td></td>
      <td>Mode /Terms of Payment<br><b>{{doc.payment_terms_template or ''}}</b></td>
    </tr>
    <tr>
      <td>Supplier Refernece </td>
      <td>Other References</td>
    </tr>
    {%set dn_no = frappe.db.get_value("Sales Invoice Item",{'parent':doc.name }, "delivery_note")%}
      
      {% set address_line1 = frappe.db.get_value("Address", doc.customer_address, "address_line1") %}
      {% set address_line2 = frappe.db.get_value("Address", doc.customer_address, "address_line2") %}
      {% set city = frappe.db.get_value("Address",doc.customer_address, "city") %}
      {% set pincode = frappe.db.get_value("Address", doc.customer_address, "pincode") %}
      {% set state = frappe.db.get_value("Address", doc.customer_address, "state") %}
      {% set country = frappe.db.get_value("Address", doc.customer_address, "country") %}
      {% set gstin = frappe.db.get_value("Address", doc.customer_address, "gstin") %}
      {% set gst_state = frappe.db.get_value("Address", doc.customer_address, "gst_state") %}
      {% set gst_state_no = frappe.db.get_value("Address", doc.customer_address, "gst_state_number") %}
      {% set email = frappe.db.get_value("Address", doc.customer_address, "email_id") %}
      {% set phone = frappe.db.get_value("Address", doc.customer_address, "phone") %}
      {% set pan = frappe.db.get_value("Customer", doc.customer, "tax_id") %}
      {%set so_no = frappe.db.get_value("Sales Invoice Item",{'parent':doc.name }, "sales_order")%}
      {%set so_date = frappe.db.get_value("Sales Order",{'name': so_no }, "transaction_date")%}
      
      {% if doc.shipping_address_name %}
      {% set shipping_address_line1 = frappe.db.get_value("Address", doc.shipping_address_name, "address_line1") %}
      {% set shipping_address_line2 = frappe.db.get_value("Address", doc.shipping_address_name, "address_line2") %}
      {% set shipping_city = frappe.db.get_value("Address",doc.shipping_address_name, "city") %}
      {% set shipping_pincode = frappe.db.get_value("Address", doc.shipping_address_name, "pincode") %}
      {% set shipping_state = frappe.db.get_value("Address", doc.shipping_address_name, "state") %}
      {% set shipping_country = frappe.db.get_value("Address", doc.shipping_address_name, "country") %}
      {% set shipping_gstin = frappe.db.get_value("Address", doc.shipping_address_name, "gstin") %}
      {% set shipping_gst_state = frappe.db.get_value("Address", doc.shipping_address_name, "gst_state") %}
      {% set shipping_gst_state_no = frappe.db.get_value("Address", doc.shipping_address_name, "gst_state_number") %}
      {% set shipping_email = frappe.db.get_value("Address", doc.shipping_address_name, "email_id") %}
      {% set shipping_phone = frappe.db.get_value("Address", doc.shipping_address_name, "phone") %}
      
    <tr><td colspan="3" rowspan="4">Despatch To: <br><b> {{doc.customer or ""}}</b><br>{{shipping_address_line1}}<br>{{shipping_address_line2}}{{shipping_city}}{{shipping_pincode}}<br>Tel # {{shipping_phone}}<br>Email : {{shipping_email or ''}}<br>GSTIN/UIN : {{shipping_gstin}}<br>PAN/IT No. : {{pan}}<br>State Name : {{shipping_gst_state}} Code : {{shipping_gst_state_no}}</td>
      <td>Buyer Order No.<br><b>{{doc.name}}</b></td>
       
      <td>Date<br><b>{{frappe.utils.formatdate(doc.transaction_date,"dd-mm-yyyy") or ""}}</b></td>
    </tr>
    {% else %}
     <tr><td colspan="3" rowspan="4">Despatch To:<br><b> {{doc.customer or ""}}</b><br>{{address_line1}}<br>{{address_line2}}{{city}}{{pincode}}<br>Tel # {{phone}}<br>{{drug_licence_no or ''}}<br>Email : {{email or ''}}<br>GSTIN/UIN : {{gstin}}<br>PAN/IT No. : {{pan}}<br>State Name : {{state}} Code : {{gst_state_no}}</td>
      {% set number_so = [] %}
        {% for item in doc.items %}
          {% if item.sales_order not in number_so %}
                {{ number_so.append(item.sales_order) or '' }}
            {% endif %}
        {% endfor %}
      <td>Buyer Order No.<br><b>{{doc.name}}
       
      </b></td>
      <td>Date<br><b>{{frappe.utils.formatdate(doc.transaction_date,"dd-mm-yyyy") or ""}}</b></td>
    </tr>
    {% endif %}
    <tr>
      <td>Despatched through<br><b>{{doc.transporter or ''}}</b></td>
      <td>Destination<br><b>{{city}}</b></td>
    </tr>
    <tr>
    	<td colspan="2" rowspan="2">Terms of Delivery{{ doc.terms or "" }}</td>
    </tr>
    <tr>
    </tr>
    <tr><td colspan="3" rowspan="1">Invoice To:<br><b>{{doc.customer or ""}}</b><br>{{address_line1}}<br>{{address_line2}}{{city}}{{pincode}}<br>Tel # {{phone}}<br>{{drug_licence_no or ''}}<br>Email : {{email or ''}}<br>GSTIN/UIN : {{gstin}}<br>PAN/IT No. : {{pan}}<br>State Name : {{state}} Code : {{gst_state_no}}<br>Place Of Supply: {{ doc.place_of_supply or ""}}</td>
    <td colspan="2"></td>
    </tr>
  </tbody></table>
        <table border="2px">
        	<tr>
        		<th class="tac">Sr No.</th>
        		<th class="tac">No & Kind Of Pkgs</th>
        		<th class="tac">Description of Goods</th>
        		<th class="tac">RI No.</th>
        		<th class="tac">HSN Code</th>
        		<th class="tac">GST Rate</th>
        		<th class="tac">Quantity</th>
        		<th class="tac">Rate</th>
        		<th class="tac">Per</th>
        		<th class="tac">Amount.</th>
        	</tr>
    		{% for row in doc.items %}
			<tr>
				<td class="tac" width="5%">{{ row.idx or '' }}</td>
				<td class="tac" width="5%">{{ '' }}</td>
				<td width="35%">{{ row.item_name or '' }}</td>
				<td class="tac" width="10%">{{ row.item_code.replace('*', '') or ''}}</td>
				{% if row.item_code %}
					{% set item_record = frappe.get_doc("Item", row.item_code) -%}
				<td class="tac" width="10%">{{ item_record.gst_hsn_code  or '' }}</td>
				{% endif %}
				<td class="tac" width="15%">{{ doc.taxes_and_charges or ''}}</td>
				<td class="tac" width="10%">{{ row.qty or ''}}</td>
				<td class="tac" width="10%">{{ row.rate or ''}}</td>
				<td class="tac" width="10%">{{ row.uom or ''}}</td>
				<td class="tac" width="10%">{{ row.amount or ''}}</td>
			</tr>
			{% endfor %}
			<tr>
        		<td colspan="2" class="brs"><b> &nbsp; </b></td>
        		<td colspan="1" class="brs"><b> &nbsp; </b></td>
        		<td colspan="1" class="brs"><b> &nbsp; </b></td>
        		<td colspan="1" class="brs"><b> &nbsp; </b></td>
        		<td colspan="1" class="brs"><b> &nbsp; </b></td>
    			<td colspan="1" align="center" class="brs"><b>{{ doc.total_qty }}</b></td>
    			<td colspan="1" class="brs"><b> &nbsp; </b></td>
    			<td colspan="1" class="brs"><b> &nbsp; </b></td>
        		<td colspan="1" class="trs" align="right"><b>{{ doc.total }}</b></td>
        	</tr>
        	<tr>
        		<td colspan="2" class="brs"><b> &nbsp; </b></td>
        		<td colspan="1" class="brs"><b> &nbsp; </b></td>
        		<td colspan="1" class="brs"><b> &nbsp; </b></td>
        		<td colspan="1" class="brs"><b> &nbsp; </b></td>
        		<td colspan="1" class="brs"><b> &nbsp; </b></td>
    			<td colspan="1" align="center" class="brs"><b></b></td>
    			<td colspan="1" class="brs"><b> GST Amount </b></td>
    			<td colspan="1" class="brs"><b> &nbsp; </b></td>
        		<td colspan="1" class="trs" align="right"><b>{{ doc.total_taxes_and_charges }}</b></td>
        	</tr>
        	<tr>
        		<td colspan="2" class="brs"><b> &nbsp; </b></td>
        		<td colspan="1" class="brs"><b> &nbsp; </b></td>
        		<td colspan="1" class="brs"><b> &nbsp; </b></td>
        		<td colspan="1" class="brs"><b> &nbsp; </b></td>
        		<td colspan="1" class="brs"><b> &nbsp; </b></td>
    			<td colspan="1" align="center" class="brs"><b></b></td>
    			<td colspan="1" class="brs"><b> Total</b></td>
    			<td colspan="1" class="brs"><b> &nbsp; </b></td>
        		<td colspan="1" class="trs" align="right"><b>{{ doc.grand_total }}</b></td>
        	</tr>
        	<table class="table table-bordered">
			<tr>
			  <td>Amount Chargeable (in words)<br><b>{{doc.in_words}}</b></td>
			</tr>
			</table>

        </table>
        <table class="table table-bordered">
                <tr>
                <td colspan="2"><b>Company's PAN:</b><br>
              {{ '' }}<br>
              {{"                                   "}}<br>
              {{"                                    "}}</td>
              <td>
                <div class="panel panel-default">
                        {%set fiscal_year = frappe.db.get_value("Global Defaults",{"default_company":doc.company},"current_fiscal_year",as_dict = True)%}
                        <div class="panel-body" style="text-align: left;"><b>For {{doc.company }}</b><br><br><br>
                          <p style="text-align: right;">Authorised Signatory</p>
                    </div>
                      </div>
              </td>
              </tr>
              </table>
        <br><br>
        <!-- <div class="row">
			<div class="col-xs-4 font_size">
				Thanking you, 
			</div>
			<div class="col-xs-3 font_size">
				 
			</div>
			<div class="col-xs-5 font_size">
				For TRANSMISSION LINE PRODUCTS 
				<br><br><br>
				{% if doc.siganture_user %}
				{% set employee_signature = frappe.db.get_value("Employee",{'name':doc.siganture_user},"employee_signature") %}
				{% set employee_name = frappe.db.get_value("Employee",{'name':doc.siganture_user},"employee_name") %}
				{% set designation = frappe.db.get_value("Employee",{'name':doc.siganture_user},"designation") %}
				<p class="sign">{% if employee_signature %} <img src="{{ employee_signature }}" width="120" height="90" /> {% endif %}</img></p>
				<p class="sign">{% if employee_name %} {{ employee_name }} {% endif %}</p>
				<p class="sign">{% if designation %} {{ designation }} {% endif %}</p>
                {% endif %}
			</div>
        </div> -->
        
	</body>
</html>

<tr>
					